
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    {% load static%}
    <link rel="stylesheet" href='{% static 'first_app/css/style.css' %}'>
    <title>Log & Reg | Home</title>
</head>
<body>
    <div id="register">
        <h2>Register</h2>
		    {% for message in messages %}
			    <p>{{ message.message }}</p>
		    {% endfor %}
        <form class="" action="/register" method="post">
            {% csrf_token %}
            First Name: <input type="text" name="first_name" value="">
            <br>
            Last Name: <input type="text" name="last_name" value="">
            <br>
            Email: <input type="text" name="email" value="">
            <br>
            Password: <input type="password" name="pw" value="">
            <br>
            Confirm Password: <input type="password" name="pw_confirm" value="">
            <br>
            <input type="submit" name="submit" value="Register">
        </form>
    </div>
    <br>
    <div id="login">
        <h2>Login</h2>
        <form class="" action="/login" method="post">
            {% csrf_token %}
            Email: <input type="text" name="email" value="">
            <br>
            Password: <input type="password" name="pw" value="">
            <br>
            <input type="submit" name="login" value="Login">
        </form>
     </div>
</body>
</html>